/.bundle

config/database.yml
config/redis.yml
*~
*.log
*.pid
.yardoc/
.DS_Store
log/*.log
log/*.pid
tmp/**
doc/api
doc/app
doc/*
public/stylesheets/scaffold.css
db/sphinx/
log/**
public/system/**
nbproject/**
public/stylesheets/all.css
public/javascripts/all.js
db.prod.dump.sql
db.prod.dump.sql.gz
db/Nationwide_Restaurants_v.2_03-22-2010.csv
chains.xlsx
.sass-cache
.env
.env.*