@import "bootstrap";
@import "font-awesome";

$brand-color: pink;

.navbar-default a.navbar-brand {
  color: $brand-color;
  &:hover {
    color: darken($brand-color,20%);
  }
}
.navbar-default{
	background-color: black !important;
	color: white !important;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
	color: white !important;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
	background-color: #000000 !important;
  color: #0088CC !important;
}
.popup_login {
  padding:0 17px 17px 17px;
  width:400px;
  color:#000;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
  background-color: #000000 !important;
  color: #0088CC !important;
}

abbr[title] {
  color: red;
  border: none;
}

#error_explanation {
  color: #a94442;
}

.action-buttons {
  margin-left: -10px; 
  padding-right: 10px ;
}

.bs-callout-warning {
background-color: #fcf8f2;
border-color: #f0ad4e;
}
.bs-callout {
margin: 20px 0;
padding: 20px;
border-left: 3px solid #f0ad4e;
}